.footer {
  background: #fb1;
  padding: 3rem 1rem 0 1rem;
  height: var(--footer-height);
  text-align: center;
  color: #764701;
}

.footer p {
  margin-top: 1rem;
}

.footer a:hover {
  color: #764701;
  text-decoration: underline;
}
